{% extends parent_template|default:"data/base_data.html"%}

{% block title %}
{{block.super}} - Delete patient
{% endblock %}


{% block content %}

<div class="">
  <div class="">
    <form class="" action="{{patient.get_delete_url}}" method="post">
      {% csrf_token %}
    <p>Are you sure you want to delete {{patient.patient_identity}}</p>

    <a href="{{patient.get_absolute_url}}">Cancel</a>
    <button type="button" name="button">
      Delete patient
    </button>
    </form>
  </div>
</div>

{% endblock %}
